 /* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) and (min-width: 599px){
    .container {
        width: 768px !important;
    }
    
    .product {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-right: 0;
    }
    .product-info {
        padding: 0;
    }
    .com-img {
        flex-direction: column;
    }
    .product {
        overflow: hidden;
        padding-top: 100px;
        height: auto;
    }
    .com-img img {
        padding: 28px;
    }
    article.blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
   
    .product {
        height: 100vh;
    }
    article.blogs {
        display: grid;
        grid-template-columns: repeat(2,1fr) !important;
    }
    
    .fp {
        display: flex;
        flex-direction: column;
        display: none;
    }
    
    .product-info {
        /* padding: 0; */
        width: 700px;
        padding-right: 0 !important;
    }
    
    article.blogs {
        width: 768px;
    }
    
    h2#pt {
        width: 768px;
    }
    
    .com-img {
        width: 768px;
    }
    
    .product {
        width: 768px;
        margin: 0 !important;
    }
    .com-img {
        padding: 0;
        overflow: hidden;
    }
    
    .product-image {
        padding-bottom: 260px !important;
    }
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen  and (max-width: 600px){
   
    article.blogs {
        grid-template-columns: 1fr !important;
    }
    
    .product {
        padding-top: 250px;
    }
    
    .product-info {
        width: 600px;
        padding: 0;
        margin: 0;
    }
    
    .container, .fp, article.blogs, h2#pt, .com-img, .product {
        width: 600px !important;
    }

    
}


@media only screen  and (max-width: 425px){
    .container,  article.blogs , h2#pt,  .com-img  {
        width: 425px !important;
    }
    .product {
        width: 425px !important;
        flex-direction: column;
    }
    
    .product-info {padding-right: 0;width: 425px;}
    
    .com-img {
        flex-direction: column;
    }
    
    .com-img img {
        padding-bottom: 56px;
    }
    
    .fp {
        flex-direction: column !important;
        padding: 0;
        width: 425px !important;
    }
    
    .com-img {
        margin: 0;
        padding: 0;
        width: 425px !important;
    }
    
    .product-image {
        width: 425px;
    }
    
    .product-image img {
        width: 45% !important;
    }
    
    h2#pt {
        width: 425px !important;
    }
    
    

}