@media only screen and (max-width:425px) {
    body{
        background-color: aquamarine;
    }
    .container{
        width: 414px !important;
    }
    
    .product, 
    .com-img,
    article.blogs {
        grid-template-columns: 1fr !important;
        height: 100vh !important;
    }
    
    .product-image img {
        width: 100%;
        padding: 0;
        margin: 0;
    }





    footer{
        display: none;
    }
}